body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

a {
  color: hsl(212, 97%, 43%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 880px;
  padding: 20px 50px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.8);
}

.border-bottom {
  padding-bottom: 0.3em;
  border-bottom: 1px solid hsl(0, 0%, 83%);
}

.list {
  margin-bottom: 16px;
}

.list__item + .list__item {
  margin-top: 0.5em;
}
